@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
} */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
